div {
    background-color: red;
    font-size: 18px;
    color: white;
    text-align: center;
    font-weight: bold;
} 
(CSS*)

 p{
    background-color: green;
    color: white;
    font-size: 18px;

}
(HTMLHEADSTYLEOPENANDCLOSESTYLE*)